* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}

header {
    width: 100%;
    margin: 0px auto;
    padding: 16px 120px;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
}


button {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;    
    width: 164px;
    height: 44px;
    padding: 0;
    font-weight: 600;
}