* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}