* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;  
  font-optical-sizing: auto;  
}


header {
    width: 100%;
    margin: 0px auto;
    padding: 16px 120px;
    font-size: 16px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 72px;
}

.banner-sub-title {
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24pt;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
       
}

ul :hover {
    border-bottom: 2px solid #2ecc71;
    color: #2ecc71;
}




.get-button {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;    
    width: 164px;
    height: 44px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.get-button:hover {
    background-color: #357a52;
    cursor: pointer;
}

.color-green {
    color: #469165;
}

.s-title {
    display: flex;
    /* border: 1px solid red; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight:500;
    height: 35px;
    width: 229px;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
}



.banner {
    background-image: url(../assets/herobg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 624px;
    padding: 70px 120px 134px;

    text-align: center;
}

.btn-box-root{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-box-1 {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: #469165;
    width: 251px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
}

.btn-box-1 img {
    width: 20px;
    height: 20px;
}

.btn-box-1:hover {
    background-color: #357a52;
    cursor: pointer;    
}

.btn-box-2 {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 198px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
    background-color: transparent;

}

.btn-box-2 img {
    width: 20px;
    height: 20px;    
}

.btn-box-2:hover {
    background-color: gray;
    cursor: pointer;    
}

