* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: rgb(244, 244, 244);
}


header {
    width: 100%;
    margin: 0px auto;
    font-size: 16px;
    max-width: 1200px;
    padding: 16px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 72px;
}

.banner-sub-title {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24pt;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;

}

ul :hover {
    border-bottom: 2px solid #2ecc71;
    color: #2ecc71;
}




.get-button {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    width: 164px;
    height: 44px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.get-button:hover {
    background-color: #357a52;
    cursor: pointer;
}

.color-green {
    color: #469165;
}

.s-title {
    display: flex;
    /* border: 1px solid red; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 35px;
    width: 229px;
    margin: 0px auto;
    background-color: #FFFFFF;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
}



.banner {
    background-image: url(../assets/herobg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 624px;
    padding: 70px 120px 134px;

    text-align: center;
}

.btn-box-root {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-box-1 {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: #469165;
    width: 251px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
}

.btn-box-1 img {
    width: 20px;
    height: 20px;
}

.btn-box-1:hover {
    background-color: #357a52;
    cursor: pointer;
}

.btn-box-2 {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 198px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
    background-color: transparent;

}

.btn-box-2 img {
    width: 20px;
    height: 20px;
}

.btn-box-2:hover {
    background-color: gray;
    cursor: pointer;
}

.title-sect {
    margin-top: 50px;
    text-align: center;
}

.title-sect h1 {
    font-size: 48px;
    font-weight: bold;
}

.title-sect p {
    color: #627382;
    font-size: 16px;
}

.root-note {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 44px auto;
    gap: 10px;
}

.notes-contain {
    margin-top: 44px;
}

main {
    max-width: 1200px;
    margin: 0px auto;

}

.notes-contain {
    text-align: center;
    align-items: center;
    justify-items: center;
}

.notes-contain h3 {
    font-size: 24px;
    margin: 16px auto;
}

.notes-contain p {
    color: #627382;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #F95555;
}

.icon-container img {
    margin: 0 auto;
    height: 32px;
    width: 32px;
    text-align: center;
}

.notes {
    width: 322px;
    height: 300px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.sect-2 {
    background-color: #FFFFFF;
}

.root-solution {
    display: flex;
    width: 90%;
    padding: 20px;


}

.knowldege-logo {
    margin-right: 30px;
}

.knowldege-logo img {
    width: 250px;
    height: 250px;
}

.knowledge-text-container {
    margin-left: 20px;
}

.knowledge-text h3 {
    font-size: 16px;
    color: #30B868;
}

.knowledge-text h1 {
    font-size: 48px;
}

.knowledge-text p {
    font-size: 16px;
    color: #627382;
}

.text-points {
    margin-top: 40px;
    gap: 16px;
}

.text-p {
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 30px;
}

.text-p img {
    width: 20px;
    height: 20px;
}

.text-p p {
    font-size: 16px;
}

.root-ready {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 30px;
}

.text-container-2 h1 {
    font-size: 48px;
}

.text-container-2 h4 {
    color: #627382;
    font-size: 16px;
}

.btn-box-3-container {
    display: flex;
    justify-content: center;
}


.btn-box-3 {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: #469165;
    width: 251px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
}

.btn-box-3 img {
    width: 20px;
    height: 20px;
}

.btn-box-3:hover {
    background-color: #357a52;
    cursor: pointer;
}

footer {
    background-color: #001931;
}

.ft-logo-link {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: 0px auto;
}

.hr {
    border: 1px solid #424a52;
    margin-top: 10px;
}

.footer-title {
    color: white;
    font-size: 20px;
}

.footer-img img {
    width: 25px;
    margin-top: 10px;
    border-radius: 100%;
    border: 1px solid black;
}

.footer-img {
    display: flex;
    gap: 20px;
}

.footer-btn {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
}